In [16]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [17]:
text_1 = "I love ice cream"
text_2 = "I like ice cream"
text_3 = "I offer ice cream to the lady that I love"

## Tạo tập dữ liệu
texts = [text_1, text_2, text_3]

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

## Trích xuất đặc trưng văn bản
count_vectorizer = CountVectorizer(stop_words='english')
matrix = count_vectorizer.fit_transform(texts)

## Chuẩn hóa dữ liệu với DataFrame
table = matrix.todense()
df = pd.DataFrame(table, 
                  columns=count_vectorizer.get_feature_names_out(), 
                  index=['Text_1', 'Text_2', 'Text_2'])
df

        cream  ice  lady  like  love  offer
Text_1      1    1     0     0     1      0
Text_2      1    1     0     1     0      0
Text_2      1    1     1     0     1      1

In [19]:
## Tính độ tương đồng theo phương pháp Euclidean
matrix = distance.cdist(df, df, 'euclidean')

df_eucl = pd.DataFrame(matrix, 
                  columns= ["Text_1", "Text_2", "Text_3"],
                  index=['Text_1', 'Text_2', 'Text_3'])
df_eucl

          Text_1    Text_2    Text_3
Text_1  0.000000  1.414214  1.414214
Text_2  1.414214  0.000000  2.000000
Text_3  1.414214  2.000000  0.000000